@model ControlEscuela.Web.Models.DocentesVm
@{
    ViewBag.Title = "Listado docentes";
    ViewBag.TituloPagina = "Busqueda de docentes";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form method="get" action="/" class="form-horizontal"></form>
            @using (Html.BeginForm("ListadoDocentes", "Administracion", FormMethod.Get, FormMethod.Get, new { @class = "form-horizontal" }))
            {
                <div class="card-header card-header-text" data-background-color="rose">
                    <h4 class="card-title">Filtros</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Nombre, new { placeholder = "Nombre" , @class="form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-rose btn-fill btn-wd">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Listado docenetes</h4>
                <div class="text-left">
                    <button type="button" class="btn btn-success btn-fill btn-wd" data-toggle="modal" data-target="#modalUser">Nuevo</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Identificación</th>
                            <th>Teléfono</th>
                            <th class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Profesores)
                        {
                            <tr>

                                <td>@item.Nombres</td>
                                <td>@item.Apellidos</td>
                                <td>@item.NumeroIdentificacion</td>
                                <td>@item.Telefono</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Editar" class="btn btn-success editProfe" data-codigo="@item.Codigo">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    @if (item.Activo)
                                    {


                                        <button type="button" rel="tooltip" title="Desactivar" class="btn btn-danger desactivarProfe" data-codigo="@item.Codigo">
                                            <i class="material-icons">thumb_down</i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" rel="tooltip" title="Activar" class="btn btn-success desactivarProfe" data-codigo="@item.Codigo">
                                            <i class="material-icons">thumb_up</i>
                                        </button>
                                    }

                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
    </div>
</div>


<!-- Classic Modal -->
<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Agregar Docente</h4>
            </div>
            <div id="containerFrmDocente">
                @{Html.RenderPartial("_FrmDocente", Model.AgregarEditarProfesorVm);}
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->

<input type="hidden" id="urlGetForm" value="@Url.Action("GetDocenteEdit","Administracion")"/>
<input type="hidden" id="urlToggleProfe" value="@Url.Action("ToggleEstadoDocente","Administracion")" />

@section scripts
{
    <script>
        $(document).ready(function() {

            iniciarPlugins();

            $(document).on("click",".editProfe", function(e) {
                e.preventDefault();
                swal({});
                swal.showLoading();

                var idProfe = $(this).data('codigo');

                var url = $("#urlGetForm").val();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { idProfesor: idProfe },
                    success: function (data) {

                        $("#containerFrmDocente").html(data.partial);
                        iniciarPlugins();
                        $("#modalUser").modal("show");
                        swal.close();
                    },
                    error: function() {
                        swal("Oops!", "Al parecer ha ocurriodo un error", "error");
                    }
                });


            });

            $(document).on("click", ".desactivarProfe", function (e) {
                e.preventDefault();
                swal({});
                swal.showLoading();

                var idProfe = $(this).data('codigo');

                var url = $("#urlToggleProfe").val();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { idProfesor: idProfe },
                    success: function (data) {

                        location.reload(true);
                    },
                    error: function () {
                        swal("Oops!", "Al parecer ha ocurriodo un error", "error");
                    }
                });


            });

        });

        function iniciarPlugins() {
            $('.datepicker').datetimepicker({
                format: 'DD/MM/YYYY',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });
        }
    </script>
}
