@using ControlEscuela.Web.Helpers
@model ControlEscuela.Web.Models.GradoVm
@{
    ViewBag.Title = "Listado Grados";
    ViewBag.TituloPagina = "Listado de Grados";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form method="get" action="/" class="form-horizontal"></form>
            @using (Html.BeginForm("Listado", "Grados", FormMethod.Get, new { @class = "form-horizontal" }))
            {
                <div class="card-header card-header-text" data-background-color="rose">
                    <h4 class="card-title">Filtros</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.NombreBuscar, new { placeholder = "Nombre" ,@class="form-control"})
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.NombreProfesor, new { placeholder = "Profesor" , @class="form-control"})
                            </div>
                        </div>
                        <div class="col-sm-4">
                            @Html.EnumDropDownListFor(x => x.Turno, new { @class = "selectpicker", data_style = "btn btn-primary btn-round", title = "Seleccione un turno", data_size = 7 })

                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-rose btn-fill btn-wd">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment</i>
            </div>

            <div class="card-content">
                <h4 class="card-title">Listado Grados</h4>
                <div class="text-left">
                    <button type="button" class="btn btn-success btn-fill btn-wd" data-toggle="modal" data-target="#myModal">Nuevo</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>Nombre</th>
                                <th>Letra Correlativa</th>
                                <th>Turno</th>
                                <th>Profesor Asignado</th>
                                <th>Cantidad Alumnos</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SeccionesGrado)
                            {
                                <tr>

                                    <td>@item.Grado.TextoGrado</td>
                                    <td>@item.LetraCorrelativo</td>
                                    <td>@item.Turno.GetDisplayName()</td>
                                    <td>@item.Profesor.Nombres @item.Profesor.Apellidos</td>
                                    <th>@item.SeccionesGradoAlumnos.Count</th>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Editar" class="btn btn-success editSec" data-codigo="@item.Codigo">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Classic Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @{Html.RenderPartial("_FrmSeccionGrado", Model.AgregarEditarSeccionGradoVm);}
</div>
<!--  End Modal -->

<input type="hidden" id="urlGetForm" value="@Url.Action("GetSeccionGradoEdit","Grados")" />

@section scripts
{
    <script>
        $(document).ready(function() {

            iniciarPlugins();

            $(document).on("click",".editSec", function(e) {
                e.preventDefault();
                swal({});
                swal.showLoading();

                var idSeccionGrado = $(this).data('codigo');

                var url = $("#urlGetForm").val();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { idSeccionGrado: idSeccionGrado },
                    success: function (data) {

                        $("#myModal").html(data.partial);
                        iniciarPlugins();
                        //Activate bootstrap-select
                        if ($(".selectpicker").length != 0) {
                            $(".selectpicker").selectpicker();
                        }
                        $("#myModal").modal("show");
                        swal.close();
                    },
                    error: function() {
                        swal("Oops!", "Al parecer ha ocurriodo un error", "error");
                    }
                });


            });
        });

        function iniciarPlugins() {
            $('.datepicker').datetimepicker({
                format: 'DD/MM/YYYY',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });
        }
    </script>
}
