@model ControlEscuela.Web.Models.AgregarEditarAlumnoVm
@{
    ViewBag.Title = "Agregar/Editar Alumno";
    ViewBag.TituloPagina = "Agregar/Editar Alumno";
}

<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <div class="card">

            @using (Html.BeginForm("AgregarEditarAlumno", "Alumnos", FormMethod.Post, new { }))
            {
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">contacts</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Registro de datos</h4>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            Nombres
                            <star>*</star>
                        </label>
                        @Html.TextBoxFor(x => x.Nombres, new { @class = "form-control" })
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            Apellidos
                            <star>*</star>
                        </label>
                        @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            NIE
                            <star>*</star>
                        </label>
                        @Html.TextBoxFor(x => x.Nie, new { @class = "form-control" })
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            Nombre Encargado
                            <star>*</star>
                        </label>
                        @Html.TextBoxFor(x => x.NombreEncargado, new { @class = "form-control" })
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            Teléfono Encargado
                            <star>*</star>
                        </label>
                        @Html.TextBoxFor(x => x.TelefonoEncargado, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="label-control">Fecha de nacimiento</label>
                        @Html.TextBoxFor(x => x.FechaNacimiento, new { @class="form-control datepicker" })
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">
                            Direción
                            <star>*</star>
                        </label>
                        @Html.TextAreaFor(x => x.Direccion, new { @class = "form-control" ,rows=4,cols=50})
                    </div>
                    <div class="form-group">

                        @Html.DropDownListFor(x => x.IdSeccionGrado, Model.SeccionesGrado.Select(secc => new SelectListItem()
                        {
                            Text = secc.Grado.TextoGrado + " " + secc.LetraCorrelativo,
                            Value = secc.Codigo.ToString()
                        }).ToList(),new { @class="selectpicker", data_style="btn btn-primary btn-round", title="Seleccione un grado", data_size=Model.SeccionesGrado.Count })
                        @Html.HiddenFor(x => x.Codigo)
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-rose btn-fill btn-wd">Guardar</button>
                        <a class="btn btn-danger btn-fill btn-wd" href="@Url.Action("Listado","Alumnos")">Volver</a>
                    </div>
                </div>
            }
        </div>
    </div>

</div>



@section scripts
{
    <script>
        $(document).ready(function(e) {
            $('.datepicker').datetimepicker({
                format: 'DD/MM/YYYY',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove'
                }
            });
        });
    </script>
}
