@model ControlEscuela.Web.Models.ListadoAlumnosVm
@{
    ViewBag.Title = "Listado Alumnos";
    ViewBag.TituloPagina = "Busqueda de Alumnos";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form method="get" action="/" class="form-horizontal"></form>
            @using (Html.BeginForm("Listado", "Alumnos", FormMethod.Get, new { @class = "form-horizontal" }))
            {
                <div class="card-header card-header-text" data-background-color="rose">
                    <h4 class="card-title">Filtros</h4>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Nombre, new { placeholder = "Nombre", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Nie, new { placeholder = "NIE", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(x => x.IdSeccionGrado, Model.SeccionesGrado.Select(secc => new SelectListItem()
                            {
                                Text = secc.Grado.TextoGrado + " " + secc.LetraCorrelativo,
                                Value = secc.Codigo.ToString()
                            }).ToList(),"TODOS",new { @class="selectpicker", data_style="btn btn-primary btn-round", title="Seleccione un grado", data_size=Model.SeccionesGrado.Count })
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-rose btn-fill btn-wd">Buscar</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Listado Alumnos</h4>
                <div class="text-left">
                    <a class="btn btn-success btn-fill btn-wd" href="@Url.Action("Alumno","Alumnos")" target="_blank">Nuevo</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>Nombre completo</th>
                                <th>Edad</th>
                                <th>NIE</th>
                                <th>Grado</th>
                                <th>Encargado</th>
                                <th>Teléfono Encargado</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Estudiantes)
                            {
                                <tr>

                                    <td>@item.Nombres @item.Apellidos</td>
                                    <td>@item.CalcularEdad()</td>
                                    <td>@item.Nie</td>
                                    <td>@item.SeccionGrado.Grado.TextoGrado @item.SeccionGrado.LetraCorrelativo</td>
                                    <td>@item.NombreEncargado</td>
                                    <td>@item.TelefonoEncargado</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" class="btn btn-success btnEdit" data-url="@Url.Action("Alumno","Alumnos", new {idAlumno = item.Codigo})">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        @if (item.Activo)
                                        {


                                            <button type="button" rel="tooltip" title="Desactivar" class="btn btn-danger toggleEstadoAlumno" data-codigo="@item.Codigo">
                                                <i class="material-icons">thumb_down</i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" rel="tooltip" title="Activar" class="btn btn-success toggleEstadoAlumno" data-codigo="@item.Codigo">
                                                <i class="material-icons">thumb_up</i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<input type="hidden" id="urlToggleAlumno" value="@Url.Action("ToggleEstadoAlumno","Alumnos")" />

@section scripts
{
    <script>
        $(document).ready(function() {

            $(document).on("click",".btnEdit", function(e) {
                e.preventDefault();
                var url = $(this).data('url');
                window.location.href = url;
            });

            $(document).on("click", ".toggleEstadoAlumno", function (e) {
                e.preventDefault();
                swal({});
                swal.showLoading();

                var idAlumno = $(this).data('codigo');

                var url = $("#urlToggleAlumno").val();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { idAlumno: idAlumno },
                    success: function (data) {

                        location.reload(true);
                    },
                    error: function () {
                        swal("Oops!", "Al parecer ha ocurriodo un error", "error");
                    }
                });


            });

        });
    </script>
}
